<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Barcode</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in list_products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>